/* Navbar styling */
.navbar {
    position: fixed; /* Fixed position to keep it at the top */
    width: 100%; /* Make it full width */
    z-index: 1000; /* Set a high z-index to place it on top */
    font-family: sans-serif;
   /* background-color: antiquewhite; */
  }
  .navbar li{
    padding: 10px;
  }
  
  /* nack text  */
  .nackmid{
    color: white;
    position: absolute;
    right: 45%;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Lexend', sans-serif;
  }
  .side-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  /* about  text*/
  .about{
    color: white;
    
  }
  .about:hover{
    text-decoration: underline;
  }
  
  /* Carousel styling */
  #carouselExampleIndicators {
    margin-top: 0; /* Set top margin to 0 to move it to the top */
    z-index: 1; /* Set a lower z-index */
  }
  
  .announcement-bar{
    margin: 0;
    padding: 10px 0;
    font-size: 13px;
    font-family: ApercuPro-Light,Source Sans Pro,Helvetica,sans-serif;
    letter-spacing: 0;
   background-color: #94A684;
  }
  .announcement-bar h6{
    text-align: center;
      color: #ffffff;
  }
  
  /* necl heading feature */
  #neck-heading{
    text-align: center;
    margin: 5px;

    padding: 3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .pre-heading{
    font-weight: bold;
    color:black;
  }
  .section-title{
    font-family: Montserrat;
  }
  
  
  
  .imagehandle{
    padding-left: 12%;
  
  }
  
  .handlebox{
    padding-top: 18%;
  }
  
  
  
  
  
  .handleButton{
    background-color: #face93;
    border: #face93;
  }
  
  .handleButton:hover{
    background-color: black;
    color: #face93;
  }
  
  .home-second-img{
    max-height: 730px;
  }
  
  
  
  
  footer{
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
  }